body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 30px;
	 background-color: lavender;
	 
}

.fixed-header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    background-color: rgb(45, 52, 54);
    padding: 0.5rem;
	margin-top:70px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
    font-size: 0.9em;
    text-transform: uppercase;
}

nav a {
    color: #FFB6C1;
    text-decoration: none;
}

nav a:hover {
    color: #e74c3c;
}

#container {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 60px; 
}

.highlight {
    color: #ff0000;
    font-weight: bold;
}

.float-img {
    float: right;
    margin-left: 20px;
}

.link {
    font-weight: bold;
    color: red;
}

.link :visited {
    color: green;
    font-style: italic;
}

.link :hover {
    text-decoration: underline;
    color: blue;
}.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

.footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    background-color: #FFB6C1;
    color: white;
    text-align: center;
    padding: 10px 0;
}:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --dark-bg: #333;
  --light-bg: #fff;
  --font-family: 'Arial', sans-serif;
}

button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

section {
  padding: 20px;
  margin: 20px;
}

/* CSS Grid for Projects */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.skills-visualization .skill {
  background-color: var(--primary-color);
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 5px;
  transition: width 1s;
}

.skills-visualization .skill[data-skill="80"] {
  width: 80%;
}

/* Dark/Light Mode */
body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--light-bg);
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
