:root {
  --primary-color: #B497BD; /* Lavender Grey */
  --secondary-color: #E6E6FA; /* Light Lavender */
  --accent-color: #D8BFD8; /* Thistle */
  --text-color: #4B4B4B; /* Dark Grey */
  --light-bg: #FFFFFF; /* White */
  --dark-bg: #333333; /* Dark Grey for Dark Mode */
  --font-family: 'Arial', sans-serif;
  --dark-primary-color: #6A4C9C; /* Darker Lavender Grey */
  --dark-secondary-color: #2A2A2A; /* Darker background for secondary sections */
  --dark-text-color: #E6E6FA; /* Light text color for dark mode */
  --dark-accent-color: #9A7EC1; /* Darker Thistle */
}

body {
  font-family: var(--font-family);
  background-color: var(--light-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
}
body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text-color);
}
table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #333;
            color: #fff;
        }
   

header {
  background-color: var(--primary-color);
  color: var(--light-bg);
  padding: 1rem;
  text-align: center;
}
body.dark-mode header {
  background-color: var(--dark-primary-color);
}

header h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

nav {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  margin-top: 70px;
  transition: background-color 0.3s;
}

body.dark-mode nav {
  background-color: var(--dark-secondary-color);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: var(--dark-bg);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
}
body.dark-mode nav a {
  color: var(--dark-text-color);
}

body.dark-mode nav a:hover {
  color: var(--dark-accent-color);
}

.home-img {
  width: 50%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.home-img:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--light-bg);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--accent-color);
}
body.dark-mode button {
  background-color: var(--dark-primary-color);
  color: var(--dark-bg);
}

button.dark-mode:hover {
  background-color: var(--dark-accent-color);
}

section {
  padding: 20px;
  margin: 20px;
  font-size: 1rem;
}

h2, h3 {
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-top: 20px;
  transition: color 0.3s ease;
}

p {
  font-style: italic;
  font-size: 1.1rem;
}

.error-message {
  color: red;
  font-size: 0.9em;
  display: none;
  margin-top: 5px;
}

input:invalid,
textarea:invalid {
  border: 1px solid red;
}

input:focus:invalid,
textarea:focus:invalid {
  outline: 2px solid red;
}

input:valid,
textarea:valid {
  border: 1px solid green;
}

#project-search {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.project-card {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project-card.hidden {
  display: none;
}
body.dark-mode .project-card {
  background-color: var(--dark-secondary-color);
}

body.dark-mode .project-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.project-thumbnail {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-thumbnail:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  background-color: var(--light-bg);
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
body.dark-mode .modal-content {
  background-color: var(--dark-bg);
}

#modal-img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
}

#modal-description {
  margin-top: 15px;
  font-size: 1.2em;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--primary-color);
}

.timeline {
  position: relative;
  padding: 20px;
  margin-top: 40px;
  border-left: 2px solid var(--primary-color);
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
body.dark-mode .timeline {
  border-left: 2px solid var(--dark-primary-color);
}

.timeline-item:nth-child(odd) .timeline-content {
  background-color: #f9f9f9;
}
body.dark-mode .timeline-item:nth-child(odd) .timeline-content {
  background-color: #333333;
}

.timeline-date {
  position: absolute;
  left: -160px;
  top: 0;
  font-weight: bold;
  color: var(--primary-color);
}
body.dark-mode .timeline-date {
  color: var(--dark-primary-color);
}

.timeline-content {
  margin-left: 20px;
  padding: 15px;
  background-color: var(--light-bg);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
body.dark-mode .timeline-content {
  background-color: var(--dark-bg);
  color: var(--dark-text-color);
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -7px;
  top: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark-mode .timeline-item::before {
  background-color: var(--dark-primary-color);
}


.timeline-item.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.footer {
  margin-top: auto;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
}
body.dark-mode .footer {
  background-color: var(--dark-secondary-color);
  color: var(--dark-text-color);
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--light-bg);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .home-img {
    width: 70%;
  }

  .project-card {
    padding: 15px;
  }
}
